# Supabase credentials
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=.

# Dynamic.xyz RNV
VITE_DYNAMIC_ENV_ID=

# Sui env
VITE_SUI_NETWORK=
VITE_SUI_PACKAGE_ID=
VITE_SUI_CONFIG_ID=
VITE_SUI_BACKEND_WALLET=

# Solana env
VITE_SOLANA_RPC_URL=
VITE_SOLANA_NETWORK=
VITE_PROGRAM_ID=
VITE_RETURNABLE_FEE_LAMPORTS=
VITE_TX_COST_LAMPORTS=
